@import url('https://fonts.googleapis.com/css2/family=Patrick+Hand&display=swap');
*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    scroll-behavior: smooth;
}
 /* background */
section{
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(giphy.webp);
}

.awal{
    background-size: cover;
    background-image: url(giphy.webp);
}

.akhir{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(giphy.webp);
    justify-content: center;
    align-items: center;
    text-align:center;
}

h1{
    text-align:center;
    font-size: 2em;
    color: white;
}
/*background atas*/
.navwrapper{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
}

.contentwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*tulisan*/
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav{
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
}

.nav:hover{
    background-color: rgb(75, 160, 218);
    border-radius: 10px;
}
.navlink{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
}